{
  "endOfLine": "lf",
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 110,
  "tabWidth": 2,
  "bracketSpacing": true,
  "tailwindStylesheet": "./src/global.css",
  "tailwindFunctions": ["cn", "cva"],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(expo/(.*)$)|^(expo$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "^@/types/(.*)$",
    "^@/config/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@/app/(.*)$",
    "",
    "^[./]",
    "^.+\\.css$"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "tsx", "decorators-legacy"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
